<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Surveillance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/header :: header('actuator')"></nav>
<div class="container">
    <h1>Streams</h1>
    <h2>Running streams</h2>
    <div id="actuatoroptions"></div>
</div>
<script type="application/javascript">
    $.ajax({
        url: "/actuator",
        context: document.body,
        success: function(data) {
            let links = data._links;
            Object.keys(links).forEach(key => {
                let dataTag = `
                    <p><a href="${links[key].href}">${links[key].href}</a> ${links[key].templated}</p>`
                $("#actuatoroptions").append(dataTag);
            });
        }
    })
</script>
</body>
</html>
