<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Surveillance</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
</head>
<body>
<h1>Surveillance</h1>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/configure">Configure</a>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <a th:unless="${streamActive}" href="/stream/control/start">Start stream</a>
    <a th:if="${streamActive}" href="/stream/control/stop">Stop stream</a>
</div>
<div>
    <a href="/logout">Logout</a>
</div>
<h2>Running streams</h2>
<div th:each="stream : ${streams}">
    <h3>Camera <span th:text="${stream}">recorderName</span></h3>
    <video controls>
        <source th:src="@{/stream/webm/{stream}/stream.webm(stream=${stream})}" type="video/webm">
        <source th:src="@{/stream/hls/{stream}/stream.m3u8(stream=${stream})}" type="application/vnd.apple.mpegurl">
    </video>
</div>
<h2>Old records</h2>
<div th:each="record : ${records}">
    <h3>Camera <span th:text="${record}">recorderName</span></h3>
    <video controls>
        <source th:src="@{/record/mp4/{record}(record=${record})}" type="video/mp4">
    </video>
</div>

</body>
</html>
